* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(255, 228, 196);
}

form {
    text-align: center;
    padding: 16px 0;
    align-items: center;
    margin-top: 40px;
}

form h2{
    margin-bottom: 40px;
    font-weight: normal;
}

input, button{
    padding: 10px;
    border-radius: 1px;
}

input {
    border: none;
    border-bottom: 2px solid #000;
    font-size: 24px;
    
}

button {
    border: none;
    background-color: rgb(174, 0, 255);
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    border: 2px solid #000;
}

ul {
    list-style: none;
    position: relative;
    text-align: center;
    font-weight: normal;
}

li{
    cursor: pointer;
}

li.completed{
    text-decoration: line-through;
}


